<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="FrameworkExpedia" parallel="tests">
  <test name=".....expedia sign up.........">
  <parameter name="url" value="https://www.expedia.com/Flights"></parameter>
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testCase.TestCase"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
